{{!-- <div class="background"> --}}
   <div class="form-container">
      <h2>Log In</h2>
      <form action="/login" method="POST" class="form">

         <label> Username</label>
            <input type="text" name="username">

         <label> Password</label>
            <input type="password" name="password">

         <button type="submit">Log In</button>
      </form>
   </div>
{{!-- </div> --}}

<div class="msg">

   {{#if msg}}
      {{msg}}
   {{/if}}
</div>