<div class="form-container">
<h2>Sign Up</h2>
   <form action="/signup" method="POST" class="form">

      <label> Username</label>
         <input type="text" name="username">

      <label> Email</label>
         <input type="text" name="email">

      <label> Password</label>
         <input type="password" name="password">

      <label> Repeat password</label>
         <input type="password" name="passwordRepeat">

      <button type="submit">Sign Up</button>
   </form>
</div>

<div class="msg">
{{#if msg}}
   {{msg}}
{{/if}}
</div>